.reservation-container {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  height: 355px;
}

.reservation-table-top {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  background-color: #999999;
  text-align: center;
  align-items: center;
}

.reservation-table-middle {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  background-color: #FBEFEF;
  text-align: center;
  align-items: center;
}

.reservation-hr {
  border: 0;
  border-top: 1px solid var(--bottari-gray);
}
