.reservation-container {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  height: 290px;
}

.reservation-table-top {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  background-color: var(--bottari-grayfont);
  color: #fff;
  text-align: center;
  align-items: center;
  border-top: 1px solid var(--bottari-grayfont);
  border-bottom: 1px solid var(--bottari-grayfont);
}

.reservation-table-middle {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  background-color: #fff;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid var(--bottari-grayfont);
}

.reservation-hr {
  border: 0;
  border-top: 1px solid var(--bottari-gray);
}

.pagenation-btn-container {
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.pagenation-btn:hover {
  cursor: pointer;
}