/* 불투명 배경 */
.search-location-modal-backgound {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}

/* 컨텐츠 영역 */
.search-location-modal-container {
  width: 85%;
  max-width: 400px;
  height: 60vh;
  background-color: #fff;

  border-radius: 10px;
  padding: 1rem 1rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 16;
}

/* 헤더 */
.search-location-modal-header {
  width: 100%;
  display: flex;
}
.search-location-modal-x {
  color: var(--bottari-gray);

  width: 30px;
  height: 30px;
  background-color: #fff;
  border: none;

  cursor: pointer;
}

/* 검색창 영역 */
.search-location-modal-input-wrapper {
  width: 100%;
  padding: 1%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  position: relative;
}
.search-location-modal-input-btn {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;

  width: 60px;
  height: 35px;

  border: none;
  border-radius: 30px;
  background-color: var(--bottari-navy);

  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.search-location-modal-input-btn:hover {
  transform: scale(0.98);
}
.search-location-modal-input-btn:active {
  transform: scale(0.95);
  filter: brightness(0.95);
}
/* 검색어 초기화 */
.search-location-modal-input-x {
  width: 10%;
  color: var(--bottari-gray);

  display: flex;
  justify-content: center;

  position: absolute;
  top: 20%;
  right: 20%;

  cursor: pointer;
}
@media (min-width: 769px) {
  .search-location-modal-input-x {
    width: 10%;
    color: var(--bottari-grayfont);

    display: flex;
    justify-content: center;

    position: absolute;
    top: 20%;
    right: 15%;

    cursor: pointer;
  }
}

/* 결과 영역 */
.search-location-modal-result-container {
  width: 100%;
  height: 70%;
  padding: 5% 4%;
  margin: 1rem auto;
  border: 1px solid var(--bottari-coolgray);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  overflow-y: auto;
}
.search-location-modal-result-wrapper {
  font-size: 0.95rem;
  border: 1px solid var(--bottari-gray);
  border-radius: 5px;
  padding: 2%;
  
  display: flex;
  flex-direction: column;

  cursor: pointer;
}
@media (min-width: 769px) {
  .search-location-modal-result-wrapper {
    font-size: 1rem;
    border: 1px solid var(--bottari-gray);
    border-radius: 5px;
    padding: 2%;
    display: flex;
    flex-direction: column;
  }
}
.search-location-modal-result-wrapper:hover {
  transform: scale(0.98);
  background-color: var(--bottari-offwhite);
}

/* 에러 메세지 */
.search-loaction-modal-errorMsg-wrapper {
  color: var(--bottari-gray);
  font-size: 1.1rem;
  font-weight: 600;

  width: 100%;
  margin: 10% 0;
  padding: 3%;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}