.menu-container {
  min-height: 100vh;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bottari-coolgray);
  gap: 30px;
}

.redirect-menu {
  display: inline-block;
  width: 170px;
  padding: 15px 30px;
  font-size: 17px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.redirect-menu:hover {
  background-color: var(--bottari-darkslate);
  color: #fff;
}