.menu-container {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bottari-coolgray);
  gap: 10px;
}

.redirect-menu {
  padding: 15px 35px;
  width: 170px;
  font-size: 17px;
  font-weight: 500;
}

.redirect-menu:hover {
  background-color: var(--bottari-darkslate);
  color: #fff;
  cursor: pointer;
}