.menu-container {
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.menu-redirect-div {
  width: 100%;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.menu-redirect-div:hover {
  cursor: pointer;
}