* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

#root {
  width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--bottari-offwhite);
}

:root {
  --bottari-skyblue: #8BE3FA;
  --bottari-pink: #FFBEC6;
  --bottari-deeppink: #FF9CA6;
  --bottari-navy: #1E1B4B;
  --bottari-blue: #60A5FA;
  --bottari-lightgray: #FBEFEF;
  --bottari-background: #E6FAFF;
  --bottari-mint: #5EEAD4;
  --bottari-gray: #888888;
  --bottari-input: #EEEEEE;
  --bottari-placeholder: #777777;
  --bottari-offwhite: #F9FAFB;
  --bottari-coolgray: #E5E7EB;
  --bottari-darkslate: #111827;
  --bottari-grayfont: #6B7280;
  --bottari-stealgray: #E5E7EB;

  --bottari-shadow: 0 4px 12px rgba(0,0,0,0.1);
  --bottari-input-shadow: 0 0 3px 0 var(--bottari-navy);
  --bottari-card-shadow: 0 0 10px 2px var(--bottari-coolgray);
}


/* 폰트 일괄 '페이퍼로지'폰트 적용 */
h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Paperozi', sans-serif;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}