.announcementModal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(136, 136, 136, 0.7);
  position: fixed;
  top: 0;
  left: 0;
}

.announcementModal-main {
  margin: 30px auto;
  width: 600px;
  height: 855px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.announcementModal-clossingButton {
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  color: #777777;
}

.announcementModal-clossingButton:hover {
  cursor: pointer;
}

.announcementModal-header {
  color: #777777;
}

.announcementModal-underline {
  margin-bottom: 45px;
}

.announcementModal-title p {
  height: 50px;
  border: 1px solid #777777;
  border-radius: 5px;
  text-align: left;
  line-height: 50px;
  padding-left: 25px;
  margin-bottom: 60px;
}

.announcementModal-content p {
  height: 400px;
  border: 1px solid #777777;
  border-radius: 10px;
  padding: 25px 35px;
}

.announcementModal-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 10px;
  height: 53px;
  margin-top: 20px;
  text-align: center;
  line-height: 53px;
}

.announcementModal-footer:hover {
  cursor: pointer;
}

.announcementModal-saveButton {
  background-color: #fff;
  border: 1px solid #777777;
  border-radius: 5px;
}

.announcementModal-uploadButton {
  background-color: #00D5A7;
  border-radius: 5px;
  color: #fff;
}

p {
  color: #777777;
}

h3 {
  margin-bottom: 20px;
}


