h1 {
  font-size: 48px;
}

.AnnouncementStaticstic-title {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.AnnouncementStaticstic-block {
  margin-bottom: 24px;
}

.AnnouncementStaticstic-hr {
  border: 2px solid #000;
  margin: 10px auto;
  width: 1100px;
}

.AnnouncementStaticstic-wrap {
  width: 1100px;      
  margin: 0 auto;     
  display: flex;      
}

.AnnouncementStaticstic-add {
  display: flex;
  margin-left: auto;  
  border-radius: 5px;
  background-color: #ACFFFF;
  width: 125px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
