.login-all-container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.login-header-title {
  font-size: 23px;
  font-weight: 700;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.login-input {
  width: 250px;
  padding: 5px 10px;
}

.login-btn {
  margin-top: 20px;
  padding: 8px;
  width: 200px;
  border: none;
  background-color: var(--bottari-darkslate);
  color: #fff;
}